<footer class="border-top bg-white py-3 mt-auto">

    <div class="container-fluid">

        <div class="d-flex justify-content-between align-items-center">

            <!-- Left -->

            <span class="text-muted small">
                © 2026 CommerceFlow · Production-Inspired Data Engineering Platform
            </span>

            <!-- Right -->

            <div>

                <a href="/docs"
                   class="text-decoration-none text-muted small me-3">

                    API Docs

                </a>

                <a href="/redoc"
                   class="text-decoration-none text-muted small me-3">

                    ReDoc

                </a>

                <a href="https://github.com/dhruvkajla0001/commerce-flow"
                   target="_blank"
                   class="text-decoration-none text-muted small">

                    GitHub

                </a>

            </div>

        </div>

    </div>

</footer>